﻿/* TextBox 為focus時 框會變亮 */
.focus
{
    border: 2px solid #0099FF;
}

.btnBase
{
	font-family: "新細明體", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	height:20px;
}

/* font-size為12px有底線的TextBox */
.txtInputText
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	COLOR: #0e629a;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
	padding-top: 3px;
	margin: 0px;
	BORDER-BOTTOM: #c0c0c0 1px inset; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-RIGHT: #c0c0c0 1px inset; 
	BORDER-TOP: #333333 1px solid; 
	background-color:#FFFFFF;
}

/* font-size為12px有框線的輸入TextBox (目前沒有使用)*/
.txtBorderText
{
	font-family:"新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	BORDER-BOTTOM: #c0c0c0 1px inset; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-RIGHT: #c0c0c0 1px inset; 
	BORDER-TOP: #333333 1px solid; 
	COLOR: #0e629a; 
	background-color:#FFFFFF;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
	padding-top: 3px;
	margin: 0px;
}

/* font-size為12px有框線及灰背景的TextBox (表示該欄位唯讀狀態 Disable)*/
.txtSmallBorderBGText
{
    FONT-FAMILY: "新細明體"; 
	FONT-SIZE: 9pt; 
	text-align:left; 
	BORDER-BOTTOM: #c0c0c0 1px inset; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-RIGHT: #c0c0c0 1px inset; 
	BORDER-TOP: #333333 1px solid; 
	COLOR: #e6eba9; 
	background-color:#DFDFDF;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
	padding-top: 3px;
	margin: 0px;
}
/* 20080318 wuchuanlu*/
/* font-size為12px沒有框線及灰背景的TextBox (表示該欄位唯讀狀態 Disable) 即TxtBox看起來像Label*/
.txtTolabel
{
	font-family:"新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	BORDER-BOTTOM: #c0c0c0 0px none; 
	BORDER-LEFT: #333333 0px none; 
	BORDER-RIGHT: #c0c0c0 0px none; 
	BORDER-TOP: #333333 0px none; 
	COLOR: #0e629a; 
	background-color:#E0EEF7;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
	padding-top: 3px;
	margin: 0px;
}

/* font-size為12px沒有框線及紅色景的TextBox (表示該欄位唯讀狀態 Disable) 即TxtBox看起來像Label*/
.txtTolabelRedBG
{
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE:14px;
	BORDER-BOTTOM: #c0c0c0 0px none; 
	BORDER-LEFT: #333333 0px none; 
	BORDER-RIGHT: #c0c0c0 0px none; 
	BORDER-TOP: #333333 0px none; 
	color:#2C2C85;
    background-color:#f4dfe5;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 10px;
	padding-top: 5px;
	margin: 0px;
    text-align:left; 

}

/* font-size為12px的多行輸入TextBox*/
.txtAreaText
{ 
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	BORDER-BOTTOM: #c0c0c0 1px inset; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-RIGHT: #c0c0c0 1px inset; 
	BORDER-TOP: #333333 1px solid; 
	font-size: 12px;
	COLOR: #0e629a; 
	background-color:#FFFFFF;
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
	padding-top: 3px;
	margin: 0px;
}

/* font-size為12px的CheckBox*/
.ckbSmallBase
{
font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
font-size: 12px;
}

/* font-size為12px的RadioButton*/
.rdbSmallBase
{
font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
font-size: 12px;
}

/*font-size為12px的DropDownList*/
.ddlSmallBase
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 12px;
	MARGIN: 0px;
	background-color:#ffffff;
	BORDER-BOTTOM: #c0c0c0 1px inset; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-RIGHT: #c0c0c0 1px inset; 
	BORDER-TOP: #333333 1px solid; 
}

/*	此表格為當做底色之表格*/
/*表格淡黃色*/
.tblBase
{
	BACKGROUND-COLOR: #f2f2e3; 
	BORDER-BOTTOM: #e2e2cc 1px solid; 
	BORDER-LEFT: #e2e2cc 1px solid; 
	BORDER-RIGHT: #e2e2cc 1px solid; 
	BORDER-TOP: #e2e2cc 1px solid; 
	COLOR: #333333; 
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE: 11pt; 
	LINE-HEIGHT: 130%;
	TEXT-ALIGN: center;
}

.tabContainer
{
	BACKGROUND-COLOR: #f2f2e3; 
	COLOR: #333333; 
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE: 11pt; 
	LINE-HEIGHT: 130%;
	TEXT-ALIGN: center;
}

/*	以下為 Key Frame 之表格配色		*/
/*Key Frame Table：表格紅色*/
.tblBase-Red
{
	BACKGROUND-COLOR: #f4dfe5;
	COLOR: #a80054;
	FONT-FAMILY:  "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 8pt;
	LETTER-SPACING: 1px;
	LINE-HEIGHT: 130%;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: left;
	border: 1px solid #ebc9d2;
}

/*表格紅色(欄位標題部分)*/
.tdHeader-Red
{
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE:12px; 
	BACKGROUND-COLOR: #f4dfe5;
	BORDER-BOTTOM:  1px solid; 
	BORDER-LEFT:  1px solid; 
	BORDER-RIGHT:  1px solid; 
	BORDER-TOP:  1px solid; 
	COLOR: #a80054;
	LETTER-SPACING: normal; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: right;
}

/*表格紅色(欄位內容部分)*/
.tdValue-Red
{
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE:12px; 
	BACKGROUND-COLOR: #f4dfe5;
	BORDER-BOTTOM:  1px solid; 
	BORDER-LEFT:  1px solid; 
	BORDER-RIGHT:  1px solid; 
	BORDER-TOP:  1px solid; 
	COLOR: #a80054;
	LETTER-SPACING: normal; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: left;
}
/*	以上為 Key Frame 之表格配色		*/


/*	以下為 Content Frame 之表格配色	*/
/*Content Frame Table：表格藍色*/
.tblBase-Blue
{
	BACKGROUND-COLOR:#E0EEF7; 
	BORDER-BOTTOM: #abd0e0 1px solid; 
	BORDER-LEFT: #abd0e0 1px solid; 
	BORDER-RIGHT: #abd0e0 1px solid; 
	BORDER-TOP: #abd0e0 1px solid; 
	COLOR: #010305; 
	FONT-FAMILY: "新細明體"; 
	FONT-SIZE: 9pt; 
	text-align:left; 
	LETTER-SPACING: 1px; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px
}

/*表格藍色(欄位標題部分)*/
.tdHeader-Blue
{
	BACKGROUND-COLOR: #CBE9F5; 
	BORDER-BOTTOM: #abd0e0 1px solid; 
	BORDER-LEFT: #abd0e0 1px solid; 
	BORDER-RIGHT: #abd0e0 1px solid; 
	BORDER-TOP: #abd0e0 1px solid; 
	COLOR: #2C2C85; 
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE:12px; 
	LETTER-SPACING: normal; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: right;
}

/*表格藍色(欄位內容部分)*/
.tdValue-Blue
{
	BACKGROUND-COLOR: #E0EEF7; 
	BORDER-BOTTOM: #abd0e0 1px solid; 
	BORDER-LEFT: #abd0e0 1px solid; 
	BORDER-RIGHT: #abd0e0 1px solid; 
	BORDER-TOP: #abd0e0 1px solid; 
	COLOR: #010305; 
	FONT-FAMILY: "新細明體"; 
	FONT-SIZE: 9pt; 
	text-align:left; 
	LETTER-SPACING: 1px; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px;
	TEXT-ALIGN: left;
}

/*	以上為 Content Frame 之表格配色		*/


/*	以下為 Show Data Frame(純粹提供唯讀資料顯示) 之表格配色		*/
/*表格淡綠色*/
.tblBase-Green
{
	BACKGROUND-COLOR: #e3f2e6; 
	BORDER-BOTTOM: #acc7a5 1px solid; 
	BORDER-LEFT: #acc7a5 1px solid; 
	BORDER-RIGHT: #acc7a5 1px solid; 
	BORDER-TOP: #acc7a5 1px solid; 
	COLOR: #808000; 
	FONT-FAMILY: "新細明體", "Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE: 9pt; 
	LETTER-SPACING: 1px; 
	LINE-HEIGHT: 130%; 
	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px; 
	PADDING-TOP: 3px; 
	TEXT-ALIGN: right
}

/*表格綠色(欄位標題部分)*/
.tdHeader-Green
{
	FONT-FAMILY: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE:12px; 
	BACKGROUND-COLOR: #CBE9F5; 
	BORDER-BOTTOM: #abd0e0 1px solid; 
	BORDER-LEFT: #abd0e0 1px solid; 
	BORDER-RIGHT: #abd0e0 1px solid; 
	BORDER-TOP: #abd0e0 1px solid; 
	COLOR: #808000; 
	LETTER-SPACING: normal; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: center
}

/*表格綠色(欄位內容部分)*/
.tdValueNumber-Green
{
	BACKGROUND-COLOR: #ffffff; 
	COLOR: #ff8040; 
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; 
	FONT-SIZE: 9pt; 
	FONT-WEIGHT: bold; 
	LETTER-SPACING: 1px; 
	LINE-HEIGHT: 120%; 
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 5px; 
	PADDING-TOP: 5px
}

/*表格內容列(單數列)*/
.trOddLine
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color:black;
	background-color:#FFFFFF;
	}

/*表格內容列(雙數列)*/
.trEvenLine
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color:black;
	background-color:#FFFFC5;
}

/*表格被選取列*/
.trSelectedLine
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color:#000000;
	background-color:#dde1ff;
}

/*頁數切換列*/
.trPager
{
	font-family: "新細明體","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	font-weight:bolder;
	color:#FFFFFF;
	background-color:#80A9D2;
}
/*	以上為 Show Data Frame(純粹提供唯讀資料顯示) 之表格配色		*/


/* 預設各網頁Body之Style */
BODY
{
	font-family : "新細明體","Arial", "Helvetica", "sans-serif";
	/*BACKGROUND-COLOR: #F7FAE9;*/
    background-image:url(../images/bg.jpg);
	font-size: 11pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

/* 預設各種Hypper Link狀態之Style */
A:link 
{
	COLOR: #0066cc; 
	TEXT-DECORATION: none
}

A:active
{
	COLOR: #777777; 
	TEXT-DECORATION: none
}

A:visited 
{
	COLOR: #565656; 
	TEXT-DECORATION: none
}

A:hover 
{
	COLOR: #ff6633; 
	TEXT-DECORATION: none
}


/******************************************************************************/
/* remove codrops styles and reset the whole thing */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 30px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: "微軟正黑體";
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: "微軟正黑體";
	color: #fff;
	font-size: 24px;
	border: 1px solid rgb(28, 108, 122);
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}
